body {
    margin: 0;
}

a {
    color: white;
}

td {
    border: 1px solid black;
}

#student2{
    display: none;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(0, 118, 198)
}

.navbar a {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.5em;
}

.header-background {
    background-image: url("../images/black-and-white-keys-music-note-534283.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgb(0, 118, 198);
}

.page-header {
    display: flex;
    padding: 20px;
    text-align: center;
    align-content: center;
    justify-content: space-around;
    height: 300px;
    background-color: rgba(0, 118, 198, .8);
}

.page-header h1{
    font-size: 4em;
}

.page-header h3{
    font-size: 2.5em;
}

#headerText {
    color: rgb(255,255,255);
    font-family: sans-serif;
}

.center-flex {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-content {
    color: #111111;
    background-color: rgb(240, 240, 240);
    padding: 2% 10%;
}

#tableTitle {
    text-align: center;
}

input {
    width: 175px;
    height: 30px;
    font-size: large;
    margin: 1% 0 4% 0;
}

button {
    width: 150px;
    height: 30px;
    font-size: 1.3rem;
    margin: 1% 0 4% 0;
    border-radius: 5px;
}

#clear {
    width: 150px;
    height: 30px;
    font-size: 1.3rem;
    margin: 1% 0 4% 0;
    border-radius: 5px;
}

.form-box{
    margin:10px;
    padding: 5px;
    background-color: rgb(180, 180, 180);
    border-radius: 10px;
}

#results-box{

}

.item0 { grid-area: type; flex:20%; }
.item1 { grid-area: location; flex:10%; }
.item2 { grid-area: room; flex:30%; }
.item3 { grid-area: time_slot; flex:10%; }
.item4 { grid-area: first_name; flex:20%; }
.item5 { grid-area: last_name; flex:20%; }
.item6 { grid-area: student_id; flex:20%; }
.item7 { grid-area: skill; flex:15%; }
.item8 { grid-area: instrument; flex:10%; }
.item9 { grid-area: reset; flex:40%; }
.item10 { grid-area: register; flex:40%; }
.student_info { grid-area: student_info; }
.performance-info { grid-area: performance_info; }

.headers{
    flex: 20%;
    padding: 1%;
    margin: 2% 2% 1% 2%;
    align-self: center;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'performance_info performance_info performance_info performance_info performance_info'
    'student_info student_info student_info student_info student_info student_info'
    'register register reset reset  auto';
    grid-gap: 50px;
    padding: 10px;
    justify-content: center;
    align-content: center;
}

.grid-row-pi {
    display: grid;
    grid-template-areas:
            'type type location room time_slot';
    grid-gap: 50px;
    justify-content: center;
    align-content: center;
}

.grid-row-si {
    display: grid;
    grid-template-areas:
            'first_name last_name student_id skill instrument';
    grid-gap: 50px;
    justify-content: center;
    align-content: center;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.flex-row{
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 10px;
}

.flex-item {
    margin: 5px;
}

textarea {
    height:200px;
    width: 300px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    align-items: center;
    flex-wrap: wrap-reverse;
}

#copyright{
    flex:20%;
    padding-left: 5%;
    padding-right: 5%;
}

#footer-address{
    flex: 40%;
    padding-left: 5%;
    padding-right: 5%;
}